<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <form class="form-horizontal" {{action 'save' on="submit"}}>
          <fieldset>
            <legend>Signup now!</legend>
            <ul>
              {{#each model.errors.email as |error|}}
                <li>{{error.message}}</li>
              {{/each}}

              {{#each model.errors.first-name as |error|}}
                <li>{{error.message}}</li>
              {{/each}}

              {{#each model.errors.first-name as |error|}}
                <li>{{error.message}}</li>
              {{/each}}
            </ul>


            <div class="form-group label-floating is-empty">
              <label for="first-name-input" class="control-label">First Name</label>
              {{input value=model.firstName class="form-control" id="first-name-input"}}
            <span class="material-input"></span></div>

            <div class="form-group label-floating is-empty">
              <label for="last-name-input" class="control-label">Last Name</label>
              {{input value=model.lastName class="form-control" id="last-name-input"}}
            <span class="material-input"></span></div>

            <div class="form-group label-floating is-empty {{if hasEmailError 'has-error'}}" >
              <label for="email-input" class="control-label">Email</label>
              {{input value=model.email type="email" class="form-control" id="eamil-input"}}
            <span class="material-input"></span></div>

            <div class="form-group label-floating is-empty">
              <label for="password-input" class="control-label">Password</label>
              {{input value=model.password type="password" class="form-control" id="password-input"}}
            <span class="material-input"></span></div>

            <div class="form-group label-floating is-empty">
              <label for="password-confirmation-input" class="control-label">Password</label>
              {{input value=model.passwordConfirmation type="password" class="form-control" id="password-confirmation-input"}}
            <span class="material-input"></span></div>


            <input type="submit" name="submit" class="btn btn-danger" value="sign up">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
