<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well bs-component">
        <form class="form-horizontal" {{action 'save' on="submit"}}>
          <fieldset>
            <legend>Create a new item</legend>
            {{link-to 'Back to list' 'todos'}}
            <ul>
              {{#each model.errors.title as |error|}}
                <li>{{error.message}}</li>
              {{/each}}
            </ul>


            <div class="form-group label-floating is-empty">
              <label for="title-input" class="control-label">Title</label>
              {{input value=model.title class="form-control" id="title-input"}}
            <span class="material-input"></span></div>

            <div class="form-group label-floating is-empty">
              <label for="body-input" class="control-label">Description</label>
              {{input value=model.body class="form-control" id="body-input"}}
            <span class="material-input"></span></div>

            <button class="btn btn-success btn-raised" {{action 'save'}}> {{fa-icon "floppy-o"}} Save
            </button>
            <button class="btn btn-danger btn-raised pull-right" {{action 'cancel'}}> {{fa-icon "times"}} Cancel</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
